body {
    background-color: #ffffe0;
}
header {
    border-bottom: 5px solid #s;
}

footer {
    background-color: #343a40;
    height: 45px;
    border-top: 5px solid #9685b6 ;
    padding-top: 5px;
}

a {
    color: #fff;

}

form {
    background-color: white;
    margin: 1rem;
    border: 3px solid gray;
    border-radius: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right: 5%;
}

label {
    font-weight: bold;
}

.h1 {
    font-size: 2rem;
}

.container {
    margin-left: .5rem;
    max-width: 768px;
  }

.navbar {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.card {
    background-color: #bfb5d3
}

.card-text {
    color: #fff;
    font-weight: bolder;
}

/* cfaecf lilac*/ 
/* 343a40 dark grey BS*/

